.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
    padding: 20px;
  }
  
  .menu-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .menu-item img {
    width: 100%; /* Allow the width to adjust proportionally */
    height: 150px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
  .menu-item h3 {
    margin-top: 0;
  }
  
  .menu-item p {
    margin-bottom: 10px;
  }
  
  .menu-item button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu-item button:hover {
    background-color: #45a049;
  }
  
  .App {
    background-color: #ccc;
    color: black;
  }
  
  .light {
    background-color: white;
    color: black;
  }
  
  .dark {
    background-color: #333;
    color: white;
  }
  